{% extends 'admin/master.html' %}
{% block body %}
  <h2>Welcome to the SuzuAni Admin Panel</h2>
  <p class="lead">
    This is where you can manage all the data for the SuzuAni application.
  </p>
  <p>
    Use the navigation menu at the top to create, edit, and delete content such as Users, Animes, Mangas, Music, Banners, and more.
  </p>
  <p>
    <strong>Important:</strong> Changes made here will be reflected live on the main website. Please be careful when modifying data.
  </p>
{% endblock %}